body {
  font-family: "Comfortaa", cursive;
  font-family: "Noto Sans TC", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.row, .col {
  padding: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

p {
  margin: 0;
}

a {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

.header {
  height: 470px;
  background-color: #F7F9FD;
  border-radius: 0 0 0 33rem;
  z-index: -2;
}

.navbar {
  max-width: 1088px;
  margin: 24px auto;
}

.logo {
  width: 218px;
  height: 40px;
}

.pay-btn {
  background-color: #FF5D50;
  width: 128px;
  height: 40px;
  border-radius: 33rem;
  color: #FFFFFF;
}

.header-box {
  max-width: 1088px;
  margin: 0 auto;
}

.title-1 {
  font-size: 48px;
  font-weight: 800;
  color: #221E1F;
  margin-top: 88px;
}

.title-2 {
  font-size: 16px;
  color: #221E1F;
  margin-top: 16px;
}

.move-banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  max-width: 1600px;
  background-color: aqua;
}

.header-banner {
  max-width: 885px;
  background-size: contain;
  position: absolute;
  top: -480px;
  z-index: 0;
}

.describe {
  max-width: 1088px;
  margin: 100px auto;
}

.title {
  font-size: 32px;
  color: #221E1F;
  font-weight: 800;
}

.pay-btns {
  width: 130px;
  height: 50px;
  border-radius: 33rem;
  background-color: #FFFFFF;
  border: solid #56C4C5 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px 16px;
}
.pay-btns p {
  font-size: 18px;
  color: #56C4C5;
}
.pay-btns:hover {
  background-color: #56C4C5;
}
.pay-btns:hover p {
  color: #FFFFFF;
}

.plan {
  max-width: 440px;
  border-radius: 12px;
  border: solid rgba(0, 0, 0, 0.0784313725) 1px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
}

.plan-title {
  border-bottom: solid #DDDDDD 1px;
  padding: 20px 0;
}
.plan-title p {
  font-size: 24px;
  font-weight: 800;
  color: #221E1F;
}

.plan-describe {
  margin: 20px 0;
  padding: 5px 0;
  line-height: 30px;
}
.plan-describe p {
  font-size: 16px;
  color: #221E1F;
}

.plan-price {
  padding: 0 30px;
}

.plan-price-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.plan-price-text p {
  font-size: 29px;
  color: #221E1F;
}

.plan-price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F5F5;
  border-radius: 12px;
  width: 169px;
  height: 108px;
}
.plan-price-box p {
  font-size: 12px;
  white-space: nowrap;
}
.plan-price-box span {
  display: inline-block;
}

.blue-font-big {
  font-size: 32px;
  color: #56C4C5;
}

.blue-font {
  color: #56C4C5;
  font-size: 12px;
}

.black-font-big {
  font-size: 32px;
  color: #221E1F;
}

.plan-list {
  margin: 50px 0;
}
.plan-list .yellow-icon {
  font-size: 16px;
  color: #221E1F;
  margin-left: 30px;
  margin-bottom: 20px;
}
.plan-list .yellow-icon::before {
  content: "";
  width: 16px;
  height: 16px;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  background-image: url(/chatTalker_images/icon_check.svg);
  margin-right: 10px;
}

.plan-btn {
  width: 136px;
  height: 50px;
  border-radius: 33rem;
  background-color: #56C4C5;
  border: solid #56C4C5 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px;
  margin-bottom: 32px;
}
.plan-btn p {
  font-size: 18px;
  color: #FFFFFF;
}
.plan-btn:hover {
  background-color: #FFFFFF;
}
.plan-btn:hover p {
  color: #56C4C5;
}

.q-and-a {
  max-width: 904px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.q-list {
  margin-top: 48px;
}
.q-list p {
  padding: 0;
}

.question {
  font-size: 18px;
  color: #221E1F;
  padding: 16px 32px;
  width: auto;
  margin: 0 auto;
  border-radius: 12px;
  border: solid rgba(0, 0, 0, 0.0784313725) 1px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0784313725);
}
.question .col {
  margin-bottom: 20px;
}

.q-icon {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  background-image: url(/chatTalker_images/icon_plus.svg);
}

.answer {
  font-size: 16px;
  color: #747474;
  margin: 5px 0;
}

.footer {
  background-color: #F5F5F5;
}

.footer-text {
  font-size: 16px;
  margin: 16px 0;
}