.index{
}
.index-title-1{
    font-size: $font-size-xxxl;
    font-weight: 800;
    color: $black-text;
}
.index-title-2{
    font-size: $font-size-s;
    color: $black-text;
    font-weight: 800;
    margin-bottom: 8px;
}
.blue{
    color: $blue-btn
}
.index-title-3{
    font-size: $font-size-s;
    color: $black-text;
    margin-top: 8px;
}
.index-all-text{
    padding-top: 158px;
}
.index-img{
    max-width: 532px;
}
// banner
.move-banner{
    position: relative;
    display: flex;
    justify-content: end;
    max-width: 1600px;
}
// blue ball-1
.index-header{
    position: relative;
    padding: 0;
}
.blue-ball{
    background-image: url(./chatTalker_images/ball01.svg);
    background-repeat: no-repeat;
    width: 160px;
    height: 360px;
    background-position: top right;
    position: absolute;
}
.blue-ball-1{
    @include box-size(360px,360px);
    // padding-right: -200px;
}
.index-header-banner{
    max-width: 850px;
    background-size: contain;
    position: absolute;
    top: -630px;
    z-index: -2;
}

// medias
.medias,.roles,.comments{
    max-width: 1088px;
    padding: 0;
    margin-bottom: 100px;
}
.medias,.comments{
    margin-top: 100px;
}
.card{
    border: none;
    border-radius: 0;
    margin: 48px 0;
    .plan-title{
        border: none;
    }
    .icon{
        @include box-size(90px,90px);
    }
    .answer{
        margin: 0;
    }
    @include put-div-center
    
}

// roles
.role-text{
    font-size: $font-size-20px;
    color: $black-text;
    margin-top: 16px;
}
.roles-img{
    // background-size: hidden;
    @include box-size(260px,260px);
    border-radius: 13px 13px 0 0;
}
.roles{
    .blue-font{
        font-size: $font-size-s;
        font-weight: 800;
        margin: 16px 0;
    }
    .black-font{
        font-size: $font-size-s;
        color: $black-text;
    }
}
.roles-4box{
    padding-bottom: 48px;
    max-width: 260px;
    margin-top: 48px;
    margin-left: 16px;
}

// points
.points{
    max-width: 1088px;
    margin-top: 100px;
    .role-text{
        margin-top: 0;
        font-size: $font-size-m;
    }
}
.point-text{
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: $font-size-m;
    font-weight: 800;
}
.points-margin{
    margin-top: 16px;
    margin-bottom: 16px;
}
.point-img{

    border-radius: 33rem;
    @include box-size(86px,86px);
    margin-left: -50px;
    img{
        @include box-size(52px,52px);
    }
}
.point-box4{
    padding: 0 32px;
    padding-top: 32px;
    padding-bottom: 48px;
    margin: 28px 14px;
    max-width: 230px;
}
.points-padding{
    padding-left: 100px;
}

// comments
.comment-text{
    border-bottom: solid $gray-line 1px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.black-text-bold{
    font-size: $font-size-s;
    color: $black-text;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 10px;
}
.comments-img{
    border-radius: 33rem;
    @include box-size(80px,80px);
    margin-top: -100px;
    margin-left: -200px;
    img{
        @include box-size(80px,80
        px);
        border-radius: 33rem;
    }
}
.comment-box{
    margin-top: 100px;
    max-width: 352px;
    padding: 32px;
    padding-top: 48px;
    padding-bottom: 24px;
}
.comment-name,.comment-star{
    width: 286px;
    // border: solid ;
}
.comment-box-margin{
    margin-left: 16px;
    margin-right: 16px;
}
.comment-star{
margin-left: 380px;
margin-top: -20px;
}
.star{
    @include box-size(16px,16px);
}

// action
.action{
    background-image: url(./chatTalker_images/home_footer.svg);
    background-repeat: repeat-x;
    background-position: center;
    height: 660px;
    margin-bottom: 100px;
    .title{
        margin-top: 400px;
        // margin-bottom: 48px;
    }
}