// all pages
body{
    font-family: $font-en;
    font-family: $font-TC;
}

*{
    // border: solid black 1px;
}
img{
    max-width: 100%;
    height: auto;
}
// often use

.p-0{
    padding: 0;
}

.m-0{
    margin: 0;
}

// index
.row, .col{
    padding: 0;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
p{
    margin: 0;
}
a{
    color: $white-bg;
    display: block;
    text-decoration:none;
}