// box size

@mixin box-size($w,$h) {
    width: $w;
    height: $h;
}

@mixin circle-btn($w,$h) {
    width: $w;
    height: $h;
    border-radius: 33rem;
}

// often use
@mixin put-div-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin before-icon-img($w,$h) {
    content: '';
    width: $w;
    height: $h;
    background-position: center center;
    background-size: cover;
    display: inline-block;
    
    @content;
    // add background-img(url)
    // add position(margin-right: 10px)
}

// RWD size

@mixin pad {
    @media (max-width:786px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width:568px) {
        @content;
    }
}