// header
.header{
    height: 470px;
    background-color: $blue-header;
    border-radius: 0 0 0 33rem;
}
.navbar{
    max-width: 1088px;
    margin: 24px auto;
    z-index: 99;
}
.logo{
    @include box-size(218px,40px);
}
.pay-btn{
    background-color: $red-btn;
    @include circle-btn(128px,40px);
    color:$white-bg
}
.pay-btn:hover{
    background-color: $white-bg;
    border: solid $red-btn 1px;
}
.header-box{
    max-width: 1088px;
    margin: 0 auto;
}