// colors

$white-bg: #FFFFFF;
$black-text: #221E1F;
$gray-border: #00000014;
$blue-btn: #56C4C5;
$gray-text: #747474;
$gray-line: #DDDDDD;
$gray-footer: #F5F5F5;
$blue-header: #F7F9FD;
$red-btn: #FF5D50;
$black-logo: #2E2E2E;

// fonts

$base-font-size: 10px;
$font-size-xs: 12px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 24px;
$font-size-xl: 29px;
$font-size-xxl: 32px;
$font-size-xxxl: 48px;

$font-en: 'Comfortaa', cursive;
$font-TC: 'Noto Sans TC', sans-serif;

